<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0">LASE Institute Management System</a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="aboutTheInstitute">About The Institute</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Batches
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="addABatch">Add a batch</a>
              </li>
              <li><a class="dropdown-item" routerLink="viewAllBatches">View all batches</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Students
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="addAStudent">Add a student</a></li>
              <li><a class="dropdown-item" routerLink="viewAllStudents">View all students</a></li>
              <li><a class="dropdown-item" routerLink="updateStudentDetails">Update student details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lecturers
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="addALecturer">Add a lecturer</a></li>
              <li><a class="dropdown-item" href="#">View all lecturers</a></li>
              <li><a class="dropdown-item" href="#">Update lecturer details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Payments
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="addAPayment">Add a payment</a></li>
              <li><a class="dropdown-item" routerLink="viewAllPayments">View list of payments</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="addACourse">Add a course</a></li>
              <li><a class="dropdown-item" routerLink="viewAllCourses">View all courses</a></li>
              <li><a class="dropdown-item" routerLink="updateCourseDetails">Update course details</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="addAnEmployee">Add an employee</a></li>
              <li><a class="dropdown-item" routerLink="viewAllEmployees">View all employees</a></li>
              <li><a class="dropdown-item" routerLink="updateAnEmployee">Update employee details</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="workingArea">
    <router-outlet></router-outlet>
  </div>