<br>
<br>
<br>

<h3 class="title">Add An Employee</h3>

<br>
<br>
<br>

<div class="subBox">
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Employee Name</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- Karunarathna Samarasinghe" [(ngModel)]="employee.employeeName">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Contact Number</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- 071 119 4001" [(ngModel)]="employee.contactNumber">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Email Address</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- adhithavge@gmail.com" [(ngModel)]="employee.emailAddress">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Monthly Salary</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- 50000/=" [(ngModel)]="employee.monthlySalary">
    </div>
</div>

<br>
<br>
<br>

<button (click)="btnAddClicked()" type="button" class="btn btn-outline-primary" id="addButton">-- Add --</button>