<br>

<div class="detailedPane">
    <img src="../../favicon.ico" class="image1">

    <br>
    <br>
    <br>

    <div class="inDetailedPane">
        <h4 class="font" id="fontOne">" LASE "</h4>
        <h6 class="font" id="fontTwo">Lankan Academy Of</h6>
        <h6 class="font" id="fontSix">Software Engineering</h6>
        <h5 class="font" id="fontThree">Colombo</h5>
        <h5 class="font" id="fontFour">Sri Lanka</h5>
        <h5 class="font" id="fontFive">071 423 0846</h5>
        <h6 class="font" id="fontSeven">Mr.Suranga Vithanage</h6>
        <h6 class="font" id="fontEight">No.42, MainStreet</h6>
        <h6 class="font" id="fontNine">Ambalangoda</h6>
    </div>
</div>