<br>
<br>
<br>

<h3 class="title">Update Student Details</h3>

<br>
<br>
<br>

<div class="input-group has-validation" id="fullBox">
    <span class="input-group-text">Enter the student id</span>
    <input type="text" class="form-control" id="username" placeholder="Ex :- S001" [(ngModel)]="students.studentId">
</div>

<br>
<br>

<div class="subBox">
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Email Address</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- adhithavichak@gmail.com" [(ngModel)]="students.emailAddress">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Contact Number</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- 0714230984" [(ngModel)]="students.contactNumber">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Payed Or Not</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- Paid" [(ngModel)]="students.payedOrNot">
    </div>
</div>

<br>
<br>
<br>

<button (click)="btnUpdateClicked()" type="button" class="btn btn-outline-primary" id="updateButton">-- Update --</button>