<br>

<h3 class="title">Add A Lecturer</h3>

<br>

<div class="subBox">
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Full Name</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- Dr.Niroth Samarawikrama">
    </div>
    <div class="input-group mb-3" id="box2">
        <label class="input-group-text" for="inputGroupFile01" id="box">Upload</label>
        <input type="file" class="form-control" id="inputGroupFile01">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Contact Number</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- 0714230846">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Email Address</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- adhithavichak@gmail.com">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Batches</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- iCM102 , iCM102">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Courses</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- Java">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Monthly Salary</span>
        <input type="text" class="form-control" id="username" placeholder="Ex :- Java">
    </div>
    <div class="input-group has-validation" id="box2">
        <span class="input-group-text" id="box">Description</span>
        <input type="text" class="form-control" id="username">
    </div>
</div>

<br>
<br>

<button type="button" class="btn btn-outline-primary" id="addButton">-- Add --</button>